<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Tipo_Cambio_BCNSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Tipo_Cambio_BCNSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://servicios.bcn.gob.ni/Tc_Servicio/ServicioTC.asmx" binding="basicHttpBinding" bindingConfiguration="Tipo_Cambio_BCNSoap" contract="WSBCN.Tipo_Cambio_BCNSoap" name="Tipo_Cambio_BCNSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DATA.csdl|res://*/DATA.ssdl|res://*/DATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SIICAR-DESA;Initial Catalog=SFPRM3;Persist Security Info=True;User ID=sfp;Password=sfp2013.;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SFPRM3Entities" connectionString="metadata=res://*/MODELO.csdl|res://*/MODELO.ssdl|res://*/MODELO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SIICAR-DESA;Initial Catalog=SFPRM3;Persist Security Info=True;User ID=sfp;Password=sfp2013.;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>